.perfilContainer{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.perfil {
  -webkit-box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.4); 
  box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.4);
  border-radius: 8px;
  padding: 1rem;
}

.imgPerfil {
  width: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  border: 3px solid #303F9F
}