.perfilContainer{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

.perfil {
  -webkit-box-shadow: 14px 15px 35px -6px rgba(212,11,212,0.54);
  -moz-box-shadow: 14px 15px 35px -6px rgba(212,11,212,0.54);
  box-shadow: 14px 15px 35px -6px rgba(212,11,212,0.54);
  border-radius: 25% 0% 10% 25% / 63% 25% 25% 0%;
  padding: 1rem;
}

.imgPerfil {
  width: 80%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  border: 3px solid #303F9F
}

.postUser {
  display: flex;
  gap: 1rem;
  padding-left: 1rem;
  margin-top: 1rem;
}

.postPerfil {
  -webkit-box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.4); 
  box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.4);
  border-radius: 8px;
  padding: 0 1rem 1.5rem;
}